name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    types: [ opened, synchronize ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 12.x, 14.x, 16.x ]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Setup Node Modules
        uses: bahmutov/npm-install@v1
        env:
          CHROMEDRIVER_FILEPATH: "/usr/bin/chromedriver"
      - run: npm run lint
      - run: npm test
        env:
          CI: true
      - name: GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.4
        if: matrix.node-version == '14.x' && github.ref == 'refs/heads/master'
        with:
          BRANCH: gh-pages
          FOLDER: target/site/serenity
          CLEAN: true
